.widget-card {
  width: 200px;
  height: auto;
  padding: 15px;

  border: 1px solid black;
  border-radius: 20px;
  background: #000;
  color: white;
  font-family: IBMPlexSans, Arial, sans-serif;
  overflow: hidden;
}

.widget-card p {
  margin: 0;
}

.widget.content {
  display: flex;
  flex-direction: column;
}

.widget-logo-name {
  display: flex;
}

.widget-logo-name img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgba(82, 82, 82, 0.44);
  padding: 2px;
}

.widget-company-name {
  padding: 0 15px;
  font-size: 13px;
  font-weight: 900;
  color: rgb(189, 189, 189);
  display: flex;
  align-items: center;
  transition: all 0.2s;
  text-transform: uppercase;
}

.widget-fuel-name-price-change {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.widget-fuel-name-price {
  font-weight: 500;
  font-size: 13.5px;
}

.widget-fuel-price {
  font-weight: 200;
}

.widget-fuel-change-value {
  font-size: 14px;
  font-weight: 900;
  text-align: center;
}

.decrease {
  color: rgb(249, 41, 37);
}
.increase {
  color: rgb(51, 255, 37);
}

.widget-fuel-change-timestamp {
  font-size: 11.5px;
  color: rgba(189, 189, 189, 0.659);
}

.widget-powered_by {
  font-size: 11px;
  padding-top: 15px;
}

.widget-website-link {
  text-decoration: none;
  color: #5399d7;
}
